In [6]:
data_new

,clickHistory,current_news,label,id
0,N61901 N28165 N5994 N32458 N30740 N63732 N2290...,N57352,0,U7615
0,N61901 N28165 N5994 N32458 N30740 N63732 N2290...,N37113,0,U7615
0,N61901 N28165 N5994 N32458 N30740 N63732 N2290...,N15218,0,U7615
0,N61901 N28165 N5994 N32458 N30740 N63732 N2290...,N63863,0,U7615
0,N61901 N28165 N5994 N32458 N30740 N63732 N2290...,N54656,0,U7615
...,...,...,...,...
156964,N33347 N58459 N45956 N35685 N15456 N47193 N388...,N40349,0,U63859
156964,N33347 N58459 N45956 N35685 N15456 N47193 N388...,N16697,0,U63859
156964,N33347 N58459 N45956 N35685 N15456 N47193 N388...,N53867,0,U63859
156964,N33347 N58459 N45956 N35685 N15456 N47193 N388...,N61497,0,U63859
156964,N33347 N58459 N45956 N35685 N15456 N47193 N388...,N14382,0,U63859

# 1.读取行为数据

In [1]:
print('start')
import pandas as pd

import time
start = time.time()
train_behavior = pd.read_csv('./data/train/behaviors.tsv',sep ='\t',header=None)
###处理 behaviors.tsv 行为数据
train_behavior.columns = ['index','id','timeStamp','clickHistory','impressionLog']
impressionLog = train_behavior['impressionLog'].str.split(' ', expand=True).stack().reset_index(level = 1,drop = True)
key, label = impressionLog.str.split('-', 1).str
data_new = pd.DataFrame()
data_new= train_behavior[['clickHistory']].join(pd.DataFrame(key,columns=['current_news']))
data_new['label'] = label
data_new['id'] = train_behavior['id']
data_new.dropna(axis=0, how='any', inplace=True)


print(data_new.shape[0])
print('time is : ',time.time() - start)

start

/home/huangzhen/anaconda3/envs/news/lib/python3.6/site-packages/ipykernel_launcher.py:10: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  # Remove the CWD from sys.path while we load stuff.

5723002
time is :  44.732322454452515

# 2.读取新闻数据

In [2]:
# coding=utf-8
title_len = 10
title = pd.read_csv('./data/train/news.tsv',sep='\t',header=None, encoding='utf-8')
title.columns = ['id','category','sub_category','title','abstract','url','title_entity','abstract_entity']
title = title[['id','title']]
arr = []
for index ,row in title.iterrows():
    text = row['title'].split(' ')
    if(len(text) < title_len):
        text.extend(['0'] * (title_len - len(text)))
    else:
        text = text[:title_len]
    text.append('[SEP]')
    arr.append(text)
title['title'] = arr

# 3.读取邻居数据

In [3]:
neighbor = pd.read_csv('./data/nearst_4.csv')
neighbor['nearst'] = neighbor['nearst'].apply(lambda x : eval(x))

# 4.多线程生成具体行为数据

In [ ]:
import re
import numpy as np
import pandas as pd

punctuation = '!,;:?"\''
def removeFormat(text):
    result = re.sub(r'[{}]+'.format(punctuation),'',text).strip().lower()
    return result
def sample_data(data,name):
    x_id = []
    x_news = []
    x_title = []
    x_label = []
    maxCount = 15
    step = 0
    for index,row in (data.iterrows()):
        if(step > -1 and step % 1000 == 0):
            print(name,':',step)
        text = []
        
        if(type( row['clickHistory']) == float): continue
        history = row['clickHistory'].split(' ') 
        idxs = list(range(len(history)))
        np.random.shuffle(idxs)
        count = 0
        for x in idxs:
            if(count == maxCount):break
            tit = title[title['id']==history[x]]['title'].values[0]
            
            if type(tit) == float:continue
            text.extend(tit)
            
            count += 1
        
        tit = title[title['id'] == row['current_news']]['title'].values[0]
        
            
        if type(tit) == float:continue
        x_news.append(text)
        x_title.append(tit)
        x_label.append(int(row['label']))
        x_id.append(row['id'])
        step += 1
       
    all_data = pd.DataFrame()
    
    all_data['id'] = x_id
    all_data['history'] = x_news
    all_data['current'] = x_title
    all_data['label'] = x_label

    all_data['history'] = all_data['history'].apply(lambda x : [removeFormat(y) for y in x])
    all_data['current'] = all_data['current'].apply(lambda x : [removeFormat(y) for y in x])
    all_data.to_csv('./data/train/seprate_10/train_{0}.csv'.format(name),index=False)
    print('curernt over: ',name)
import threading
import multiprocessing
from multiprocessing import Process
pool_thread = []
groups = 46
pool = multiprocessing.Pool(processes=groups)
data_temp = data_new.iloc[:]
for index in range(groups):
    count_data = data_temp.shape[0] // groups
    pool.apply_async(sample_data,(data_temp.iloc[index * count_data:(index+1)*count_data,:],index+1))

pool.close()
pool.join() 

print('all over!')

1 : 0
2 : 0
3 : 0
4 : 0
5 : 0
6 : 0
7 : 0
8 : 0
9 : 0
10 : 0
11 : 0
12 : 0
13 : 0
14 : 0
15 : 0
16 : 0
17 : 0
18 : 0
19 : 0
20 : 0
21 : 0
22 : 0
23 : 0
24 : 0
25 : 0
26 : 0
27 : 0
28 : 0
29 : 0
30 : 0
31 : 0
32 : 0
33 : 0
34 : 0
35 : 0
36 : 0
37 : 0
38 : 0
39 : 0
40 : 0
41 : 0
42 : 0
43 : 0
44 : 0
45 : 0
46 : 0
7 : 1000
28 : 1000
36 : 1000
8 : 1000
30 : 1000
6 : 1000
21 : 1000
25 : 1000
32 : 1000
18 : 1000
27 : 1000
37 : 1000
24 : 1000
13 : 1000
23 : 1000
31 : 1000
15 : 1000
26 : 1000
34 : 1000
17 : 1000
14 : 1000
39 : 1000
46 : 1000
4 : 1000
41 : 1000
43 : 1000
42 : 1000
40 : 1000
16 : 1000
22 : 1000
45 : 1000
38 : 1000
2 : 1000
33 : 1000
29 : 1000
3 : 1000
10 : 1000
11 : 1000
5 : 100019
: 1000
35 : 1000
20 : 1000
12 : 1000
9 : 1000
1 : 1000
44 : 1000
13 : 2000
8 : 2000
41 : 2000
21 : 2000
7 : 2000
34 : 2000
28 : 2000
45 : 2000
27 : 2000
32 : 2000
36 : 2000
39 : 200030
 : 2000
42 : 2000
46 : 2000
25 : 2000
24 : 2000
15 : 2000
6 : 2000
31 : 2000
10 : 2000
23 : 2000
33 : 2000
22 : 2000
20 : 2000
9 : 2000
18 : 2000
17 : 2000
26 : 2000
37 : 2000
19 : 2000
4 : 2000
29 :40 : 2000
 2000
35 : 2000
16 : 2000
12 : 2000
38 : 2000
43 : 2000
3 : 2000
44 : 2000
11 : 2000
14 : 2000
1 : 2000
2 : 2000
5 : 2000
13 : 3000
8 : 3000
41 : 3000
45 : 3000
32 : 3000
27 : 3000
34 : 3000
37 : 3000
42 : 3000
21 : 3000
7 : 3000
28 : 3000
22 : 3000
10 : 3000
24 : 3000
39 : 30001540
  : :3000
 3000
33 : 3000
26 : 3000
29 : 3000
30 : 3000
23 : 3000
36 : 3000
43 : 3000
35 : 3000
9 : 3000
46 : 3000
44 : 3000
14 : 3000
20 : 3000
25 : 3000
31 : 3000
16 : 3000
17 : 3000
1 : 3000
19 : 3000
12 : 3000
18 : 3000
6 : 3000
11 : 3000
4 : 3000
3 : 3000
38 : 3000
5 : 3000
2 : 3000
13 : 4000
41 : 4000
32 : 4000
8 : 4000
34 : 4000
37 : 4000
27 : 4000
45 : 4000
33 : 4000
28 : 4000
22 : 4000
42 : 4000
40 : 4000
21 : 4000
35 : 4000
36 : 4000
23 : 4000
29 : 4000
31 : 4000
10 : 4000
39 : 4000
46 : 4000
30 : 4000
24 : 4000
7 : 4000
43 25 ::  40004000

26 : 4000
14 : 4000
44 : 4000
20 : 4000
15 : 4000
16 : 4000
17 : 4000
18 : 4000
11 : 4000
19 : 4000
9 : 4000
38 : 4000
6 : 4000
12 : 4000
2 : 4000
3 : 4000
4 : 4000
5 : 4000
1 : 4000
27 : 5000
13 : 5000
41 : 5000
32 : 5000
34 : 5000
8 : 5000
36 : 5000
35 : 5000
33 : 5000
45 : 5000
37 : 5000
42 : 5000
29 : 5000
26 : 5000
39 : 5000
40 : 5000
23 : 5000
46 : 5000
28 : 5000
21 : 5000
20 : 5000
15 : 5000
10 : 5000
22 : 5000
7 : 5000
25 : 5000
11 : 5000
31 : 5000
24 : 5000
44 : 5000
16 : 5000
43 : 5000
17 : 5000
30 : 5000
18 : 5000
14 : 5000
38 : 5000
19 : 5000
12 : 5000
9 : 5000
5 : 5000
27 : 6000
1 : 5000
3 : 5000
2 : 5000
6 : 5000
34 : 6000
4 : 5000
41 : 6000
32 : 6000
35 : 6000
13 : 6000
43 : 6000
10 : 6000
29 : 6000
37 : 6000
33 : 6000
23 : 6000
45 : 6000
36 : 6000
39 : 6000
40 : 6000
21 : 6000
8 : 6000
42 : 6000
20 : 6000
28 : 6000
26 : 6000
22 : 6000
24 : 6000
16 : 6000
46 : 6000
15 : 6000
44 : 6000
11 : 6000
17 : 6000
31 : 6000
25 : 6000
18 : 6000
30 : 6000
7 : 6000
12 : 6000
14 : 6000
19 : 6000
38 : 6000
27 : 7000
9 : 6000
4 : 6000
34 : 7000
5 : 6000
13 : 7000
41 : 7000
35 : 7000
32 : 7000
2 : 6000
1 : 6000
43 : 7000
6 : 6000
23 : 7000
33 : 7000
29 : 7000
3 : 6000
36 : 7000
37 : 7000
45 : 7000
21 : 7000
46 : 7000
10 : 7000
26 : 7000
42 : 7000
39 : 7000
15 : 7000
40 : 7000
20 : 7000
28 : 7000
22 : 7000
16 : 7000
24 : 7000
44 : 7000
8 : 7000
30 : 7000
11 : 7000
31 : 7000
18 : 7000
17 : 7000
25 : 7000
38 : 7000
27 : 8000
7 : 7000
14 : 7000
19 : 7000
12 : 7000
34 : 8000
41 : 8000
35 : 8000
43 : 8000
32 : 8000
5 : 7000
9 : 7000
23 : 8000
21 : 8000
13 : 8000
4 : 7000
37 : 8000
33 : 8000
36 : 8000
26 : 8000
1 : 7000
20 : 8000
46 : 8000
39 : 8000
45 : 8000
29 : 8000
6 : 7000
16 : 8000
42 : 8000
28 : 8000
40 : 8000
44 : 8000
17 : 8000
2 : 7000
15 : 8000
30 : 8000
31 : 8000
22 : 8000
10 : 8000
3 : 7000
38 : 8000
11 : 8000
24 : 8000
8 : 8000
18 : 8000
25 : 8000
14 : 8000
27 : 9000
34 : 9000
32 : 9000
19 : 8000
7 : 8000
21 : 9000
41 : 9000
12 : 8000
13 : 9000
35 : 9000
43 : 9000
9 : 8000
36 : 9000
29 : 9000
37 : 9000
20 : 9000
42 : 9000
23 : 9000
39 : 9000
33 : 9000
4526  :: 9000
9000
4 : 8000
5 : 8000
46 : 9000
40 : 9000
6 : 8000
28 : 9000
44 : 9000
1 : 8000
31 : 9000
10 :16  :9000 9000

17 : 9000
15 : 9000
22 : 9000
38 : 9000
30 : 9000
24 : 9000
11 : 9000
14 : 9000
25 : 9000
3 : 8000
2 : 8000
32 : 10000
27 : 10000
18 : 9000
8 : 9000
34 : 10000
23 : 10000
19 : 9000
41 : 10000
21 : 10000
35 : 10000
36 : 10000
43 : 10000
20 : 10000
42 : 100007
 : 9000
12 : 9000
13 : 10000
29 : 10000
45 : 10000
39 : 10000
37 : 10000
26 : 10000
40 : 10000
33 : 10000
46 : 10000
9 : 9000
31 : 10000
44 : 10000
11 : 10000
5 : 9000
22 : 10000
28 : 10000
24 : 10000
16 : 10000
4 : 9000
25 : 10000
17 : 10000
10 : 10000
6 : 9000
38 : 10000
30 : 10000
27 : 11000
15 : 10000
1 : 9000
32 : 11000
14 : 10000
21 : 11000
18 : 10000
20 : 11000
37 : 11000
36 : 11000
8 : 10000
2 : 9000
19 : 10000
13 : 11000
34 : 11000
41 : 11000
23 : 11000
35 : 11000
3 : 9000
45 : 11000
43 : 11000
29 : 11000
42 : 11000
7 : 10000
40 : 11000
26 : 11000
12 : 10000
39 : 11000
46 : 11000
31 : 11000
22 : 11000
33 : 11000
44 : 11000
11 : 11000
24 : 11000
30 : 11000
10 : 11000
16 : 11000
9 : 10000
28 : 11000
17 : 11000
27 : 12000
38 : 11000
25 : 11000
4 : 10000
6 : 10000
5 : 10000
37 : 12000
15 : 11000
18 : 11000
14 : 11000
35 : 12000
20 : 12000
32 : 12000
41 : 12000
36 : 12000
8 : 11000
29 : 12000
34 : 12000
21 : 12000
1 : 10000
13 : 12000
19 : 11000
45 : 12000
26 : 12000
39 : 12000
40 : 12000
42 : 12000
43 : 12000
23 : 12000
3 : 10000
46 : 12000
2 : 10000
31 : 12000
22 : 12000
12 : 11000
33 : 12000
44 : 12000
24 : 12000
11 : 12000
7 : 11000
30 : 12000
28 : 12000
16 : 12000
17 : 12000
27 : 13000
38 : 12000
25 : 12000
10 : 12000
6 : 11000
37 : 13000
9 : 11000
4 : 11000
14 : 12000
41 : 13000
5 : 11000
36 : 13000
15 : 12000
21 : 13000
35 : 13000
18 : 12000
20 : 13000
8 : 12000
42 : 13000
45 : 13000
32 : 13000
29 : 13000
34 : 13000
31 : 13000
43 : 13000
26 : 13000
23 : 13000
39 : 13000
13 : 13000
40 : 13000
19 : 12000
46 : 13000
1 : 11000
22 : 13000
33 : 13000
44 : 13000
24 : 13000
12 : 12000
28 : 13000
2 : 11000
25 : 13000
11 : 13000
30 : 13000
7 : 12000
3 : 11000
38 : 13000
27 : 14000
10 : 13000
17 : 13000
16 : 13000
37 : 14000
6 : 12000
9 : 12000
41 : 14000
21 : 14000
5 : 12000
14 : 13000
36 : 14000
15 : 13000
20 : 14000
35 : 14000
4 : 12000
42 : 14000
45 : 14000
32 : 14000
18 : 13000
29 : 14000
43 : 14000
31 : 14000
34 : 14000
40 : 14000
23 :26 14000
: 14000
8 : 13000
39 : 14000
13 : 14000
46 : 14000
44 : 14000
19 : 13000
22 : 14000
24 : 14000
25 : 14000
33 : 14000
12 : 13000
28 : 14000
30 : 14000
27 : 15000
41 : 15000
1 : 12000
11 : 14000
10 : 14000
38 : 14000
7 : 13000
37 : 15000
2 : 12000
9 : 13000
3 : 12000
16 : 14000
21 : 15000
17 : 14000
35 : 15000
20 : 15000
32 : 15000
42 : 15000
31 : 15000
6 : 13000
36 : 15000
29 : 15000
45 : 15000
34 : 15000
40 : 15000
14 : 14000
18 : 14000
15 : 14000
43 : 15000
44 : 15000
39 : 15000
24 : 15000
5 : 13000
26 : 15000
23 : 15000
4 : 13000
46 : 15000
8 : 14000
33 : 15000
19 : 14000
13 : 15000
22 : 15000
12 : 14000
25 : 15000
28 : 15000
27 : 16000
30 : 15000
41 : 16000
38 : 15000
7 : 14000
37 : 16000
17 : 15000
11 : 15000
34 : 16000
32 : 16000
21 : 16000
35 : 16000
20 : 16000
16 : 15000
3 : 13000
10 : 15000
31 : 16000
40 : 16000
1 : 13000
45 : 16000
2 : 13000
42 : 16000
43 : 16000
36 : 16000
39 : 16000
9 : 14000
18 : 15000
29 : 16000
6 : 14000
15 : 15000
33 : 16000
24 : 16000
5 : 14000
26 : 16000
44 : 16000
14 : 15000
23 : 16000
46 : 16000
4 : 14000
12 : 15000
38 : 16000
27 : 17000
8 : 15000
25 : 16000
19 : 15000
28 : 16000
22 : 16000
13 : 16000
41 : 17000
7 : 15000
30 : 16000
40 : 17000
10 : 16000
17 : 16000
34 37:  : 17000
17000
11 : 16000
35 : 17000
32 : 17000
42 : 17000
36 : 17000
20 : 1700021
 : 17000
16 : 16000
15 : 16000
31 : 17000
43 : 17000
39 : 17000
14 : 16000
45 : 17000
18 : 16000
3 : 14000
24 : 17000
33 : 17000
29 : 17000
2 : 14000
44 : 17000
9 : 15000
4 : 15000
23 : 17000
1 : 14000
26 : 17000
46 : 17000
27 : 18000
6 : 15000
19 : 16000
28 : 17000
38 : 17000
5 : 15000
22 : 17000
34 : 18000
25 : 17000
40 : 18000
30 : 17000
8 : 16000
12 : 16000
41 : 18000
37 : 18000
17 : 17000
13 : 17000
35 : 18000
10 : 17000
42 : 18000
31 : 18000
7 : 16000
32 : 18000
14 : 17000

36 : 18000
11 : 17000
16 : 17000
45 : 18000
20 : 18000
43 : 18000
21 : 18000
18 : 17000
39 : 18000
15 : 17000
29 : 18000
24 : 18000
2 : 15000
44 : 18000
3 : 15000
33 : 18000
22 : 18000
4 : 16000

# 5.整合所有多线程数据

In [ ]:
import numpy as np
import pandas as pd
data = pd.DataFrame()
for index in range(1,47):
    print(index)
    now = pd.read_csv('./data/test/seprate_10/test_{0}.csv'.format(index))
    data = pd.concat([data,now],axis=0)
data.to_csv('./data/test/seprate_10/all_10.csv',index=False)

# 6.训练数据采样

In [ ]:
k = 1 ##邻居数量
def sample_neg(data,number):
    k = 1
    shape = data.shape[0]
    index = 0
    index_arr = []
    index_neighbor = []
    while index < shape:
        flag = True
        for his in range(k):
            if data.iloc[index+his]['label'] != 0:
                flag = False
                break
        if(flag):
            for pos in range(k):
                index_neighbor.append(neighbor[neighbor['id'] == data.iloc[pos+index]['id']]['nearst'][:k])
                index_arr.append(pos + index)
            index += k
            if(index + k >= shape):break
            while(data.iloc[index]['label'] != 1):
                index += 1
                if(index + k >= shape):break
            if(index + k >= shape):break
            index_arr.append(index)
            index_neighbor.append(neighbor[neighbor['id'] == data.iloc[index]['id']]['nearst'][:k])
        else:
            index += 1
        if(len(index_arr) >= number):break
        if(len(index_arr) % 2000 == 0):print(len(index_arr))
        if(index + k >= shape):break 
    return index_arr,index_neighbor
def remove_sep(arr):
    temp = []
    for s in arr:
        if s != '[sep]':
            temp.append(s)
    temp = temp[:165]
    return temp
def upper_sep(arr):
    temp = []
    for s in arr:
        if s == '[sep]':
            temp.append('[SEP]')
        else:
            temp.append(s)
    temp = temp[:165]
    return temp
data = pd.read_csv('./data/train/seprate_10/all_10.csv')
index_arr,index_neighbbor = sample_neg(data,number=100000)
co_neigh = []
for index in range(len(index_neighbor)):
    co_neigh.append(data[data['id'] == index_neighbor[index]]['history'])
data = data.iloc[index_arr]

data['history'] = data['history'].apply(lambda y :' '.join(upper_sep(eval(y))))
data['current'] = data['current'].apply(lambda y :' '.join(remove_sep(eval(y))))
data['neighbor'] = co_neigh
data['neighbor'] = data['neighbor'].apply(lambda y :' '.join(upper_sep(eval(y))))
np.save('./data/bert/15_10/train_8w.npy',data.values.tolist()[:50000])
np.save('./data/bert/15_10/dev_2w.npy',data.values.tolist()[50000:])


data = pd.read_csv('./data/test/seprate_10/all_10.csv')
co_neigh = []
for index in range(len(index_neighbor)):
    co_neigh.append(data[data['id'] == index_neighbor[index]]['history'])

data['history'] = data['history'].apply(lambda y :' '.join(upper_sep(eval(y))))
data['current'] = data['current'].apply(lambda y :' '.join(remove_sep(eval(y))))
data['neighbor'] = co_neigh
data['neighbor'] = data['neighbor'].apply(lambda y :' '.join(upper_sep(eval(y))))
np.save('./data/bert/15_10/test.npy',data.values.tolist())

# 7.数据处理

# 8.生成最终的数据

In [ ]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
from tqdm import tqdm
import numpy as np
import pandas as pd
train = np.load('./data/bert/15_10/train_8w.npy')
dev = np.load('./data/bert/15_10/dev_2w.npy')
# test = np.load('./data/bert/15_10_con/test.npy')
    
his_len = 150
neigh_len = 150
def pad(text,his_len):
    
    arr = text.split(' ')
    if(len(arr) < his_len):
        arr.extend(['[PAD]'] * (his_len - len(arr)))
    else:
        arr = arr[:his_len]
    return ' '.join(arr)
train_file =[]
for row in tqdm(train):
    row[0] = pad(row[0],his_len)
    row[3] =  pad(row[3],neigh_len)
    train_file.append(['[CLS] '+ row[0]+ row[3] +  ' [SEP] ' + row[1] + ' [SEP]',row[2]])
    
pd.DataFrame(train_file).to_csv('./data/bert/15_10_con/train_pair_10w.csv',index = False)
dev_file = []
for row in dev:
    row[0] = pad(row[0],his_len)
    row[3] =  pad(row[3],neigh_len)
    dev_file.append(['[CLS] '+ row[0]+ row[3] +' [SEP] ' + row[1] + ' [SEP]',row[2]])
    
pd.DataFrame(dev_file).to_csv('./data/bert/15_10_con/dev_pair_16w.csv',index = False)
test_file = []
for row in test:
    row[0] = pad(row[0],his_len)
    row[3] =  pad(row[3],neigh_len)
    test_file.append(['[CLS] '+ row[0]+ row[3] +' [SEP] ' + row[1] + ' [SEP]',row[2]])
    
pd.DataFrame(test_file).to_csv('./data/bert/15_10_con/test_pair_16w.csv',index = False)

In [ ]:
len(train_file)

In [ ]:
from keras_bert import extract_embeddings

train = np.load('./data/bert/15_10_con/train.npy')
dev = np.load('./data/bert/15_10_con/dev.npy')
test = np.load('./data/bert/15_10_con/test.npy')

In [ ]:
import pandas as pd
model_path = './data/outputs/bert_15_10_con'

from keras_bert import extract_embeddings, POOL_NSP, POOL_MAX
train_pair = pd.read_csv('./data/bert/15_10_con/train_pair.csv')
train_pair = train_pair['0'].apply(lambda x: eval(x)).values.tolist()
# dev_pair = pd.read_csv('./data/bert/15_10_con/dev_pair.csv')
# dev_pair = dev_pair['0'].apply(lambda x: eval(x)).values.tolist()
# test_pair = pd.read_csv('./data/bert/15_10_con/test_pair.csv')
# test_pair = test_pair['0'].apply(lambda x: eval(x)).values.tolist()
train_embed = []
for index,row in enumerate(train_pair):
    embed = extract_embeddings(model_path, row)[0][0]
    train_embed.append(embed)
    print(index)
    
# dev_embed = extract_embeddings(model_path, dev_pair)
# test_embed = extract_embeddings(model_path, test_pair)

In [ ]:
maxlen_history = 120
maxlen_curr = 30
import numpy as np
examples = []
step = 0
for index,row in all_train.iterrows():
    temp = []
    text = ' '.join(eval(row['history']))
    temp.append(text)
    text = ' '.join(eval(row['current']))
    temp.append(text)
    temp.append(row['label'])
    examples.append(temp)
    step += 1
    if(step % 10000 == 0):print(step)

In [ ]:

print( maxlen_history)
print(maxlen_curr)
### 训练数据裁剪
k = 1
train_1 = []
index = 0
lens = len(examples)
while index <(lens):
    flag = True
    for his in range(k):
        if examples[index+his][2] != 0:
            flag = False
            break
    if(flag):
        for pos in range(k):
            history = examples[pos + index]
            history[0] = history[0]
            train_1.append(history)
        index += k
        if(index + k >= lens):break
        while(examples[index][2] != 1):
            index += 1
            if(index + k >= lens):break
        if(index + k >= len(examples)):break
        history = examples[index]
        train_1.append(history)
    else:
        index += 1
    if(len(train_1) % 2000 == 0):print(len(train_1))
    if(index + k >= lens):break

In [ ]:

texts = [('all work and no play', 'makes jack a dull boy'),
    ('makes jack a dull boy', 'all work and no play')]
embeddings = extract_embeddings(model_path, texts)[0][0]

In [ ]:
len(embeddings)

In [ ]:
embeddings[1][7]

In [ ]:
import torch
from transformers import BertTokenizer

model_name = './data/outputs/bert_15_10_con'  # 指定需下载的预训练模型参数

# BERT 在预训练中引入了 [CLS] 和 [SEP] 标记句子的开头和结尾
samples = ['[CLS] are you ok？ 0 [SEP]I amgo fine ! 0 [SEP]']  # 准备输入模型的语句

tokenizer = BertTokenizer.from_pretrained(model_name)

tokenized_text = [tokenizer.tokenize(i) for i in samples]

input_ids = [tokenizer.convert_tokens_to_ids(i) for i in tokenized_text]
input_ids = torch.LongTensor(input_ids)
print(input_ids)

In [2]:
import pandas as pd
data = pd.read_csv('./data/train/seprate_10/all_10.csv')

In [3]:
data

,history,current,label
0,"['democrats', 'who', 'voted', 'to', 'impeach',...","['baby', 'trump', 'balloon', 'slashed', 'at', ...",0
1,"['comics', '-', 'pluggers', 'by', 'gary', 'bro...","['trump', 'says', 'china', 'trade', 'talks', '...",0
2,"['walmart', 'sparks', 'panic', 'and', 'confusi...","['highlights', 'of', 'the', '2019', 'sema', 's...",0
3,"['majority', 'disapprove', 'of', 'trump', 'sup...","['snow', 'crab', 'sells', 'for', 'record', 'pr...",0
4,"['extremely', 'disturbing', 'top', 'dems', 'al...","['kendall', 'jenner', 'wore', 'the', 'tiniest'...",0
...,...,...,...
999989,"['roger', 'stone', 'lied', 'to', 'congress', '...","['feud', 'between', 'trump', 'advisers', 'unde...",0
999990,"['back', 'to', 'blonde', 'britney', 'spears', ...","['hailey', 'bieber', 'sends', 'aunt', 'hilaria...",0
999991,"['black', 'high', 'school', 'security', 'guard...","['2019', 'peoples', 'choice', 'awards', 'fashi...",0
999992,"['the', 'woman', 'who', 'flipped', 'off', 'tru...","['my', 'sister', 'and', 'i', 'were', 'adopted'...",0
999993,"['far-reaching', 'snowstorm', 'may', 'take', '...","['drake', 'has', 'something', 'to', 'say', 'to...",0